<h1>
  Showing all photos
</h1>

<table>
  <tr>
    <th>
      Photographer
    </th>
    <th>
      Location
    </th>
    <th>
      Photo
    </th>
  </tr>
  <% @photos.each do |photo| %>
    <tr>
      <td>
        <%= Photographer.find(photo.photographer).name %>
      </td>
      <td>
        <%= photo.location %>
      </td>
      <td>
        <div class="photo_container">
        <img src="<%= photo.name %>" class="raw_photo<% if photo.top_photo? %> top_photo<% end %>">
        <% if photo.top_photo? %>
          <img src="http://www.unmuddled.com/css/img/star.png" class="top_photo_star" id="photo<%= photo.id %>star">
          <% end %>
      </div>
      </td>
    </tr>
  <% end %>
</table>

<a href="/">Main Menu</a>