<h1>
  Home Menu
</h1>

<a href="/add_photo">Add a new photo</a>
<a href="/see_all_photos">See all photos</a>
<a href="/delete_photos">Delete photos</a><br>
<a href="/add_photographer">Add a photographer</a>
<a href="/delete_photographer">Delete a photographer</a>
<a href="/add_album">Add an album</a>
